/AMQPSender/Win32
/AMQPSender/AMQPSender.sdf
/AMQPSender/AMQPSender.v11.suo
/AMQPSender/AMQPSender/Debug
/AMQPSender/AMQPSender/AMQPSender.vcxproj.user
/UDPReceiver/Win32
/UDPReceiver/UDPReceiver/Debug
/UDPReceiver/UDPReceiver/UDPReceiver.vcxproj.user
/UDPReceiver/UDPReceiver/GeneratedFiles
/UDPReceiver/UDPReceiver.sdf
/UDPReceiver/UDPReceiver.v11.suo
